// .example-container {
//   width: 400px;
//   height: 200px;
//   margin: 10px;
//   border: 1px solid #555;
// }
header.bg-white.shadow.position-sticky {
  z-index: 12;
  width: 100%;
  height: 5rem;
}

.vr{
  height: 60px;
}


//  nav {
//       // height: 100vh;
//       // width: 75px;
//       // position: fixed;
//       // top: 4.3rem;
//       .side{     
//           height: 100vh;
//           width: 75px;
//           background-color: #339e94;
//           span{
//                   display: none;
                  
//               }
//       }
//       .side:hover{     
          
//           width:20%;
//           background-color: #339e94;
//           display: block ;
//           // transition: 0.1s linear;
//           span{
//               display: block;
//           }
//       }
//       span{
//           display: none;
          
//       }
//       a:hover{
//           background-color: rgba(211, 211, 211, 0.44);
//           transition: 0.1s linear;
//       }
      

//   }

nav span{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-size: 25px !important;
}

#leftDraw{
    background-color: #339e94;
    width: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;


    .side{     
        span{
          display: none;
                
          }
    }
    a:hover{
        background-color: rgba(211, 211, 211, 0.44);
        transition: 0.1s linear;
        
    }

    

}

@keyframes moveIcon {
  to {
    transform: translateX(10rem); 
  }
}

.example-container :hover .ti-arrows-exchange-2 {
  animation: moveIcon 0.3s forwards ease; 
}

/* reset the animation */
.example-container :not(:hover) .ti-arrows-exchange-2 {
  transform: translateX(0);
}



#leftDraw:hover{
    background-color: #339e94;
    width: 20%;
    // transition: 0.3s linear;

    .side{     
      span{
              display: block;
              
          }
  }
}






.rightHeader{
    select  {
        border: none;
        outline: none; 
        cursor: pointer;
    }

    .arrow, .bell{
        color:#989898;
    }

    .bgi {
        display: inline-block;
        border-radius: 50%; 
        overflow: hidden; 
        border: 2px solid #989898; 
        width: 60px;
        height: 60px;
      }
     
      
  // .dropdown-container {
  //   position: relative;
  // }
  
  .dropdown-content {
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
  }
  .dropdown-content p:hover{
    background-color: #e8dfdf;
    
  
    
  }
  
}
// .example-containers{
//     width: 75px;
//     height: 100vh;
// }


// drawer 
#leftDraw{
    background-color: #339e94;
}


.example-container {
    
    height: 800px;
    /* top:0px; */
  }
.text{
    color:#339E94;
}

.mc{
    color:#cca953;
}

.example-card {
    width: 400px; 
  }

examplee-card{
     
    width: 600px; 
    border: none !important;
    box-shadow: none !important;
  }

.email{
    width: 250px;
}

.footer{
  margin-top: 100px;
  margin-left:20px;
}

#leftDraw-content {
  overflow-y: hidden;
}

.c{
  font-size: 15px;
}

.vr1{
  border-right:1px solid  #E5E4E2;
  height: 130px;
}

#leftDraw-container{
  background-color: white;
}


//  form style 
form{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;    

}
// .formDiv{
//   border: 1px solid grey;
//   border-radius: 10px;
// }
.fn{
  flex: 1 0 10rem;
}
.ln{
  flex: 1 0 10rem;
}
.dob{
  margin-right: 3rem;
}


.mdc-data-table__table {
  min-width:89% !important;
  border: 0;
  white-space: nowrap;
  border-spacing: 0;
  table-layout: fixed;
}

.table {
  width: 60% !important;
  
}

mat-paginator{
  width: 89%;
}

// snack bar
::ng-deep  .snackbar{
  background-color: green !important; 
  color: white !important;
}

mat-form-field.mat-mdc-form-field.me-2.ms-5.ng-tns-c1205077789-7.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-star-inserted {
  width: 5rem;
}

mat-form-field.mat-mdc-form-field.me-2.ms-5.ng-tns-c1205077789-8.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-star-inserted {
  width: 8rem;
}

mat-form-field.mat-mdc-form-field.me-2.ms-5.ng-tns-c1205077789-9.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-star-inserted {
  width: 7.5rem;
}

mat-form-field.mat-mdc-form-field.me-2.ms-5.ng-tns-c1205077789-10.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-star-inserted {
  width: 8rem;
}

mat-form-field.mat-mdc-form-field.me-2.ms-5.ng-tns-c1205077789-11.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-star-inserted {
  width: 8rem;
}

mat-form-field.mat-mdc-form-field.me-2.ms-5.ng-tns-c1205077789-12.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-star-inserted {
  width: 8rem;
}

.profile-image {
  width: 50px; 
  height: 50px; 
}



