<!-- for onload  -->
<div class="loader-wrapper" id="loaderWrap">
    <img src="assets/on.gif" alt="loader gif before reload" id="loader" class="loader" style="transform: scaleX(-1);">
</div>
<!-- contents starts here  -->
<mat-toolbar class="justify-content-between" color="primary">
<div>

<a href="#" class="text-white ">
  <img src="assets/pngwing.com.png" alt="" width="100px" height="100px" class="">
  Megatron</a>
</div>
<div >
<a href="#" class="navbar-brand">Home</a>
<a href="#" class="navbar-brand">About</a>
<a href="#" class="navbar-brand">Contact</a>

</div>
</mat-toolbar>
<div id="tab-cont" >
<mat-tab-group color="warn" >
<mat-tab label="Porche" > 
  <img src="assets/por.png" alt="porche" class="m-5 porche" style="transform: scaleX(-1)">
  <div class="porcheContent">
    <p class="por-title mx-5"><b>PORCHE 911 TURBO s</b></p> 
    <span class=" abtPorche mx-5">It is a high-performance sports car known for its iconic design and powerful performance. It features a rear-engine layout, all-wheel drive,
      and a turbocharged flat-six engine, delivering over 600 horsepower. This results in impressive acceleration and top speeds, making it one of the 
      fastest sports cars in the world. The 911 Turbo S offers a blend of luxury and speed, making it a sought-after choice for enthusiasts.
    </span> <br> <br>
    <a  href="https://www.porsche.com/middle-east/_india_/" target="_blank"><button mat-raised-button color="primary">Visit</button></a>
  </div>
</mat-tab>

<mat-tab label="Aston Martin" class="text-primary "> 
  <a href="https://www.astonmartin.com/en/" target="_blank"><img src="assets/aston.png" alt="aston " class="aston"> </a>
  
  <div class="astonContent">
    <a href="https://www.astonmartin.com/en/" target="_blank"><p class="ast-title mx-5"><b>ASTON MARTIN DB11</b></p> </a>
    <span class=" abtAston mx-5">The Aston Martin DB11 is a luxury sports car known for its elegant design and powerful performance. 
      It features a V8 or V12 engine, offers a comfortable and high-tech interior, and is a flagship model for the iconic British automaker Aston Martin.

    </span> 
    
  </div>
  
</mat-tab>

<mat-tab label="Mercedes Benz" >
  <img src="assets/benx.png" alt="benz" class="benz" style="transform: scaleX(-1)">

  <div class="benzContent">
    <a href="https://www.mercedes-benz.co.in/passengercars.html?group=all&subgroup=see-all&view=BODYTYPE" target="_blank"><p class="benz-title mx-5"><b>Mercedes-AMG GT 4</b></p> </a>

    <span class=" abtBenz mx-5">The Mercedes-AMG GT 4 is a high-performance sports car and part of the Mercedes-AMG GT series. It offers a combination 
      of luxury and powerful performance, featuring a robust V8 engine, exceptional handling, and a distinctive design. The GT 4 is known for
       its speed and precision, making it a flagship model in the Mercedes-AMG lineup.
    </span> 

    <!-- <a  href="https://www.porsche.com/middle-east/_india_/" target="_blank"><button mat-raised-button color="accent">Visit</button></a> -->
  </div>
</mat-tab>
<!-- <mat-tab label="Audi" > 
  <img src="/assets/rr8.png" alt="audi" class="audi" >

  <div class="audiContent">
    <p class="audi-title mx-5"><b>Audi R8</b></p> 
    <span class=" abtAudi mx-5">The Audi R8 is a high-performance sports car produced by the German automaker Audi. 
      It is known for its sleek design, powerful engines, and exceptional handling, making it a popular choice among sports car enthusiasts. 
      The R8 is available in both coupe and convertible (Spyder) versions and is often praised for its combination of luxury and performance.
    </span> <br> <br>
    <a  href="https://www.audi.co.uk/uk/web/en/models/r8/r8-coupe.html" target="_blank"><button mat-raised-button color="accent">Visit</button></a>
  </div>
</mat-tab> -->
</mat-tab-group>
</div>


