<header fxLayout="row" fxLayout.xs="column" >
    <div fxFlex="60%" fxFlex.lg="70%" fxFlex.md="58%" fxFlex.sm="45%" fxFlex.xs="100%" fxFlexOffset="10px">
      <a href="" >
        <img src="/assets/opal.svg" alt="" width="265px">
      </a>
    </div>
  
    <div class="my-3" fxLayoutGap="10px" fxLayoutAlign="end center" fxLayoutAlign.xs="center">
      
      <div fxLayout="row">
        <a href="" class="text-decoration-none"><i class="fa fa-instagram text-primary fxflexalign mx-2 fs-4" ></i>
        <span class="mx-2 socialMedia  text-dark" fxHide.xs="true">Instagram</span></a>
      </div>
      <div fxLayout="row">
        <a href="" class="text-decoration-none"><i class="fa fa-facebook text-primary mx-2 fs-4"></i>
        <span class="mx-2 socialMedia text-dark" fxHide.xs="true">Facebook</span></a>
      </div>
      
      <div fxLayout="row">
        <a href="" class="text-decoration-none"><i class="fa fa-twitter text-info mx-2 fs-4"></i>
        <span class="socialMedia text-dark" fxHide.xs="true">Twitter</span></a>
      </div>  
      
      <div fxLayout="row">
        <a href="" class="text-decoration-none"><i class="fa fa-rss mx-2 text-warning  fs-4"></i>
        <span class="socialMedia text-dark" fxHide.xs="true">RSS</span></a>
      </div>  
      
    </div>
  
  </header>
  
  <!-- nav bar  -->
  
  <nav class="navbar navbar-expand-lg navbar-light mt-2" style="background-color: darkorange;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav fw-bold">
          <li class="nav-item">
            <a class="nav-link" href="#" >ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OPAL BUSINESS CENTRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">INTERACTIVE MEDIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
        </ul>
  
        
    
      </div>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-1" aria-controls="navbarNav-1" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-user fs-1"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav-1"  >
        <ul class="navbar-nav fw-bold">
          <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fa fa-pencil-square-o fs-4 mx-2"></i> DISCUSSION FORUM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-sign-in fs-4 mx-2"></i>LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-users fs-4 mx-2"></i>BECOME A MEMBER</a>
          </li>
        </ul>
      </div>
  
  
    </div>
  </nav>
  
  
  <!-- contents  -->
  
  
  <section>
    <div class="chimney">
      <div class="fs-1 fw-bold py-5 text-white" fxFlexOffset="110px" fxFlexOffset.lg="70px" fxFlexOffset.md="40px" fxFlexOffset.sm="35px" fxFlexOffset.xs="15px">
        MDC
      </div>
    </div>
  </section>
  
  <section>
    <div  fxFlexOffset="110px" fxFlexOffset.lg="70px" fxFlexOffset.md="40px" fxFlexOffset.sm="35px" fxFlexOffset.xs="15px">
      <p class="contentText mt-5 ">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
  making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
  more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
  literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and I .10.33 of "de Finibus Bonorum et
  Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
  during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      </p>
  
      <p class="contentText"> 
        The standard chunk of Lorem Ipsum used since the 15005 is reproduced below for those interested. Sections 1.10.32 and I .10.33
  from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English
  versions from the 1914 translation by H. Rackham.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
  in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      </p>
  
      <p class="contentText">
        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
  consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
  undoubtable source. Lorem Ipsum comes from sections I .10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
  of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
  The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section I. 10.32.
      </p>
  
      <p class="contentText">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
      </p>
  
    </div>
  </section>
  
  <footer class="footer-container p-1 text-center">
    <p>Copyright &copy; 2015 Opal. All rights reserved.</p>
  </footer>
  
  
  
  