
.chimney{
    background-image: url("/assets/chimney.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 7rem;
}

.contentText{
    font-size:15px;
    width: 90%;
}

.footer-container {
    background-color: #141414; 
    color: grey; 
    position: relative;
    top: 6rem;

  }